
{% load static %}
{% load crispy_forms_tags %}

<!-- {% block content %} -->
<head>
    <title>KJSIEIT-PRG</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

    <body>
        <header id="header">
            <div class="container">
                <img class="college_logo_img" src="{% static 'assets/logo.jpg' %}" alt="College Logo">    
                <div class="logo-text">
                    <h1>SOMAIYA</h1>
                    <h2>VIDYAVIHAR</h2>
                    <div class="small-text">
                        <h4>K. J. Somaiya Institute of Engineering and Information Technology</h4>
                        An Autonomous Institute Affiliated to University of Mumbai.
                        <br/>
                        Accredited by NAAC and NBA, Approved by AICTE, New Delhi.
                    </div>
                </div>
                <br/>
                <ul>
                    <img class="trust_logo_img" src="{% static 'assets/TRUST_LOGO.fb3cec54.svg' %}" alt="Trust Logo">
                </ul>
            </div>
        </header>
    
        <div id="root">
            <div class="content-1">
                <div class="content-2">
                    <div class="content-3">
                        <div>
                            <div class="home-page-content">
                                <h1 class="project-title">
                                    Placement Report Generator
                                </h1>
                                <h2 class="developers-title">
                                    Developed by
                                </h2>
                                <h2 class="developers-title">
                                    Department of Computer Engineering 
                                </h2>
                            </div>
                            <!-- Login Form Template  -->
                            <div class="container-fluid form-div">
                                <div class="">
                                    <img class="cf-image" src="{% static 'assets/kjsieit-logo.png'%}" alt="KJSIEIT Logo">
                                    <form  method="POST" class="uniForm mt-4">
                                        {%csrf_token%}
                                            <!-- <legend class="legend">Sign In to your Account</legend> -->
                                            <h4 class="legend">Sign In to your Account</h4>
                                            {{form|crispy}}
                                            <input type="checkbox" class="form-group show-password" onclick="show_password()"/><span class="show-password">Show Password</span>
                                        <div class="mt">
                                            <button class="btn btn-color px" type="submit"><span>LOGIN</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Group Members and Project Guide Info -->
                            <div class="group-members">
                                <h2>Developed By</h2>
                                <div class="names-1">
                                    <h5 class="names-2">Gaurav Tuklia</h5>
                                    <h5 class="names-3">Jaydeep Tigaiya</h5>
                                    <h5 class="names-4">Jaykumar Wadia</h5>
                                    <h5>Ms. Jignasha Dalal</h5>
                                </div>
                                <div class="type-1">
                                    <h5 class="type-2">Student</h5>
                                    <h5 class="type-3">Student</h5>
                                    <h5 class="type-4">Student</h5>
                                    <h5>Project Guide</h5>
                                </div>
                                <div class="class-1">
                                    <h5 class="class-2">TY COMPS</h5>
                                    <h5 class="class-3">TY COMPS</h5>
                                    <h5 class="class-4">TY COMPS</h5>
                                    <h5>ASSISTANT PROFESSOR</h5>
                                </div>
                                <div class="links-1">
                                    <div class="links-2">
                                        <a href="https://github.com/Gaurav15012002" target="_blank"><i class="fab fa-github-square link-1"></i></a><a href="https://www.linkedin.com/in/gaurav-tuklia-4a2b401a4/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                    <div class="links-3">
                                        <a href="https://github.com/jaydeep-05" target="_blank"><i class="fab fa-github-square link-2"></i></a><a href="https://www.linkedin.com/in/jaydeep-tigaiya-4b30841b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                    <div class="links-4">
                                        <a href="https://github.com/25-jkw" target="_blank"><i class="fab fa-github-square link-3"></i></a><a href="https://www.linkedin.com/in/jaykumar-wadia-b599481a4/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                    <div class="links-5">
                                        <a href="https://github.com/jigsnptel" target="_blank"><i class="fab fa-github-square link-4"></i></a><a href="https://www.linkedin.com/in/jignasha-dalal-380215104/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Content -->
                    <div class="footer-container">
                        <a href="https://kjsieit.somaiya.edu.in/en" rel="noopener noreferrer" target="_blank">KJSIEIT</a>
                        <div style="user-select: none;">
                            <a href="#">Support</a>
                            |
                            <a href="#">About Us</a>
                        </div>
                        <a href="https://www.somaiya.edu/en" rel="noopener noreferrer" target="_blank">Somaiya Vidyavihar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Show Password Script -->
        <script>
            function show_password() {
                var x = document.getElementById("id_password");
                if (x.type === "password") {
                  x.type = "text";
                } else {
                  x.type = "password";
                }
              }
        </script>
    </body>
    
<!-- {%endblock content%} -->