
{% load static %}
{% load crispy_forms_tags %}

<head>
    <title>Add New Company Data</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/student_form.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg first-nav">
        <div class="container container-1">
          <a class="navbar-brand" href="{%url 'home-page'%}">Placement Report Generator</a>
          {% if user.is_authenticated %}
          <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <span class="navbar-text">
              <a href="{% url 'logout' %}"><button class="btn-1 btn-color-1 ms" type="button"><span>LOGOUT</span> <i class="fas fa-sign-out-alt"></i></button></a>
            </span>
          </div>
          {%endif%}
        </div>
    </nav>
    <div>
        <div class="container-fluid">
            <div class="mx-auto w-50 style1">
                <form  method="POST" class="m4">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        <legend>Add New Data</legend>
                        {{form|crispy}}
                    </fieldset>
                    <div class="form-group mt-3">
                        <button class="btn-2 btn-color-1" type="submit">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="fixed-footer">
            <a href="https://kjsieit.somaiya.edu.in/en" rel="noopener noreferrer" target="_blank">KJSIEIT</a>
            <div style="user-select: none;">
                <a href="#">Support</a>
                |
                <a href="#">About Us</a>
            </div>
            <a href="https://www.somaiya.edu/en" rel="noopener noreferrer" target="_blank">Somaiya Vidyavihar</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous">
    </script>
</body>