{%extends 'PMS_website/index.html'%}
{% load crispy_forms_tags %}
{% block content %}
<title>Add Company Data</title>
    <div class="container-fluid  ">
        <div class="mx-auto w-50 ">
            <form  method="POST" class="m-5">
                {%csrf_token%}
                <fieldset class="form-group">
                    <legend>Add</legend>
                    {{form|crispy}}
                </fieldset>
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
{%endblock content%}