{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Placement Data</title>
  <link rel="stylesheet" href="{%static 'css/final.css' %}">
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">

</head>

<body>
        <nav class="navbar navbar-expand-lg first-nav">
          <div class="container container-1">
            <a class="navbar-brand" href="{%url 'home-page'%}">Placement Report Generator</a>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
              <button class="btn-color-1 btn-2 me-3 active" id="nba-btn"><span>NBA</span></button>
              <button class="btn-color-1 btn-2 me-3" id="student-wise-btn"><span>Student-wise</span></button>
              <button class="btn-color-1 btn-2 me-0" id="company-wise-btn"><span>Company-wise</span></button>
              <span class="navbar-text">
                <a href="{% url 'logout' %}"><button class="btn-1 btn-color-1 ms" type="button"><span>LOGOUT</span> <i class="fas fa-sign-out-alt"></i></button></a>
              </span>
            </div>
            {%endif%}
          </div>
        </nav>
        
        <div>
          {% if user.is_authenticated %}
          <div class="container-fluid mt-2" id="nba-table">
            <table class="table table-hover display" id="nba">
              <thead class="nba-thead">
                <tr>
                  <th scope="col">SR.NO.</th>
                  <th scope="col" class="">UID</th>
                  <th scope="col" >STUDENT NAME</th>
                  <th scope="col" class="">COMPANY PLACED</th>
                  <th scope="col">OFFER MODE</th>
                  <th scope="col">COMPANY TYPE</th>
                  <th scope="col" class="">CTC</th>
                  <th scope="col">DATE OF INTERVIEW</th>
                  <th scope="col">RECEIVED OFFER LETTER</th>
                  <th scope="col">DATE OF OFFER LETTER</th>
                </tr>
              </thead>
              <tbody class="nba-tbody">
                {%for result in results%}
                <tr>
                  <th scope="">{{ forloop.counter }}</th>
                  <td class="">{{result.university_serial_id.university_id}}</td>
                  <td>{{result.university_serial_id.student_name}}</td>
                  <td class="">{{result.company_placed}}</td>
                  <td>{{result.offer_mode}}</td>
                  <td>{{result.company_type}}</td>
                  <td class="">{{result.ctc}}</td>
                  <td>{{result.dateOfInterview}}</td>
                  <td>{{result.receivedOfferLetter}}</td>
                  <td>{{result.dateOfOfferLetter}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          <div class="container-fluid mt-2" id="student-wise-table">
            <table class="table table-hover display" id="student-table">
              <thead class="student-thead">
                <tr>
                  <th scope="col">SR.NO.</th>
                  <th scope="col" class="">UID</th>
                  <th scope="col">STUDENT NAME</th>
                  <th scope="col" class="">COMPANY PLACED</th>
                  <th scope="col" class="">CTC</th>
                  <th scope="col">RECEIVED OFFER LETTER</th>
                  <th scope="col">DATE OF OFFER LETTER</th>
                  <th scope="col">FINISHING SCHOOL ATTENDED</th>
        
                </tr>
              </thead>
              <tbody class="student-tbody">
                {%for result in results%}
                <tr>
                  <th scope="">{{ forloop.counter }}</th>
                  <td class="">{{result.university_serial_id.university_id}}</td>
                  <td>{{result.university_serial_id.student_name}}</td>
                  <td class="">{{result.company_placed}}</td>
                  <td class="">{{result.ctc}}</td>
                  <td>{{result.receivedOfferLetter}}</td>
                  <td>{{result.dateOfOfferLetter}}</td>
                  <td>{{result.university_serial_id.finishing_school_attended}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          <div class="container-fluid mt-2" id="company-wise-table">
            <table class="table table-hover display" id="company-table">
              <thead class="company-thead">
                <tr>
                  <th scope="col">SR.NO.</th>
                  <th scope="col">COMPANY</th>
                  <th scope="col">NO. OF STUDENTS PLACED</th>
                  <th scope="col">CTC</th>
                  <th scope="col">OFFER MODE</th>
                  <th scope="col">COMPANY TYPE</th>
                </tr>
              </thead>
              <tbody class="company-tbody">
                {%for company in companies%}
                <tr>
                  <th scope="">{{ forloop.counter }}</th>
                  <td>{{company.company_placed}}</td>
                  <td>{{company.the_count}}</td>
                  <td>{{company.ctc}}</td>
                  <td>{{company.offer_mode}}</td>
                  <td>{{company.company_type}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          <div class="fixed-footer">
            <a href="https://kjsieit.somaiya.edu.in/en" rel="noopener noreferrer" target="_blank">KJSIEIT</a>
            <div style="user-select: none;">
                <a href="#">Support</a>
                |
                <a href="#">About Us</a>
            </div>
            <a href="https://www.somaiya.edu/en" rel="noopener noreferrer" target="_blank">Somaiya Vidyavihar</a>
          </div>
        </div>
        {%else%}
        <div class="container-fluid">
          <div class="offset-md-3 mt-5 w-50">
            <h2 class="h2">You are not logged in!</h2>
            <p class="p">
              Please login to use the features.
            </p>
            <div class="border-top pt-3">
              <small class="text-muted">
                <a href="{%url 'login'%}">Login to continue!</a>
              </small>
            </div>
          </div>
        </div>
        {%endif%}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
          crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8"
          src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" charset="utf8"
          src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" charset="utf8"
          src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
        <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
        <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
        <script>
          $(document).ready(function () {

            var nbaTable=$('#nba').DataTable({
              // "pageLength": 10,
              "paging": false,
              "scrollY": "500px",
              "scrollCollapse": true,
              dom: 'Bfrtip',
              buttons: [
                {
                  extend: 'copyHtml5',
                  text: '<i class="fas fa-copy"></i> Copy Text',
                  title: 'NBA DATA',
                  // text: 'Copy Text',
                  className:'btn first',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'excelHtml5',
                  text: '<i class="fas fa-file-excel"></i> Export to Excel',
                  className:'btn first',
                  // text: 'Export to Excel',
                  title: 'NBA DATA',
                  // className:'custom-btn btn-11',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'csv',
                  text: '<i class="fas fa-file-csv"></i> Export to CSV',
                  className:'btn first',
                  // text: 'Export to CSV',
                  title: 'NBA DATA',
                  // className:'custom-btn btn-11',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'pdfHtml5',
                  text: '<i class="fas fa-file-pdf"></i> Download PDF',
                  className:'btn first',
                  // text: 'Download PDF',
                  title: 'NBA DATA',
                  // className:'custom-btn btn-11',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'print',
                  text: '<i class="fas fa-print"></i> Print',
                  className:'btn first',
                  title: 'NBA DATA',
                  // className:'custom-btn btn-11',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'colvis',
                  className: 'btn-dropdown dropdown',
                  columnText: function(dt, idx, title){
                    return (idx+1) + ': '+ title;
                  }
                }
              ],
              columnDefs: [{
                targets: [ 4, 5, 6, 7, 8],
                visible: false
              }],
              language: {
                buttons: {
                  colvis: 'Toggle Column Visibility',
                }
              }
            });
            var studentTable=$('#student-table').DataTable({
              // "pageLength": 10,
              "paging": false,
              "scrollY": "500px",
              "scrollCollapse": true,
              dom: 'Bfrtip',
              buttons: [
                {
                  extend: 'copyHtml5',
                  text: '<i class="fas fa-copy"></i> Copy Text',
                  title: 'STUDENT-WISE DATA',
                  className:'btn first',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'excelHtml5',
                  text: '<i class="fas fa-file-excel"></i> Export to Excel',
                  className:'btn first',
                  title: 'STUDENT-WISE DATA',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'csv',
                  text: '<i class="fas fa-file-csv"></i> Export to CSV',
                  className:'btn first',
                  title: 'STUDENT-WISE DATA',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'pdfHtml5',
                  text: '<i class="fas fa-file-pdf"></i> Download PDF',
                  className:'btn first',
                  title: 'STUDENT-WISE DATA',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'print',
                  text: '<i class="fas fa-print"></i> Print',
                  title: 'STUDENT-WISE DATA',
                  className:'btn first',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'colvis',
                  className: 'btn-dropdown dropdown',
                  columnText: function(dt, idx, title){
                    return (idx+1) + ': '+ title;
                  }
                }
              ],
              columnDefs: [{
                targets: [1, 4, 5, 6, 7],
                visible: false
              }],
              language: {
                buttons: {
                  colvis: 'Toggle Column Visibility',
                }
              }

            });
            var companyTable=$('#company-table').DataTable({
              // "pageLength": 10,
              "paging": false,
              "scrollY": "500px",
              "scrollCollapse": true,
              dom: 'Bfrtip',
              buttons: [
                {
                  extend: 'copyHtml5',
                  text: '<i class="fas fa-copy"></i> Copy Text',
                  title: 'COMPANY-WISE DATA',
                  className:'btn first',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'excelHtml5',
                  text: '<i class="fas fa-file-excel"></i> Export to Excel',
                  className:'btn first',
                  title: 'COMPANY-WISE DATA',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'csv',
                  text: '<i class="fas fa-file-csv"></i> Export to CSV',
                  className:'btn first',
                  title: 'COMPANY-WISE DATA',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'pdfHtml5',
                  text: '<i class="fas fa-file-pdf"></i> Download PDF',
                  className:'btn first',
                  title: 'COMPANY-WISE DATA',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'print',
                  text: '<i class="fas fa-print"></i> Print',
                  title: 'COMPANY-WISE DATA',
                  className:'btn first',
                  exportOptions: {
                    columns: ':visible'
                  }
                },
                {
                  extend: 'colvis',
                  className: 'btn-dropdown dropdown',
                  columnText: function(dt, idx, title){
                    return (idx+1) + ': '+ title;
                  }
                }
              ],
              columnDefs: [{
                targets: [2, 3, 4],
                visible: false
              }],
              language: {
                buttons: {
                  colvis: 'Toggle Column Visibility',
                } 
              }

            });
            $('#student-wise-table').hide();
            $('#company-wise-table').hide();
            $('#nba-btn').addClass("active")


          $('#student-wise-btn').click(function() {
            $(this).addClass("active");
            $('#company-wise-btn').removeClass("active");
            $('#nba-btn').removeClass("active");
            $('#nba-table').hide();
            $('#company-wise-table').hide();
            $('#student-wise-table').show();
            $(window).bind('resize', function () {
              studentTable.fnAdjustColumnSizing();
            } );

          });
          $('#company-wise-btn').click(function() {
            $(this).addClass("active");
            $('#student-wise-btn').removeClass("active");
            $('#nba-btn').removeClass("active");
            $('#nba-table').hide();
            $('#student-wise-table').hide();
            $('#company-wise-table').show();
            $(window).bind('resize', function () {
              companyTable.fnAdjustColumnSizing();
            } );
          });
          $('#nba-btn').click(function() {
            $(this).addClass("active");
            $('#student-wise-btn').removeClass("active");
            $('#company-wise-btn').removeClass("active");
            $('#student-wise-table').hide();
            $('#company-wise-table').hide();
            $('#nba-table').show();
            $(window).bind('resize', function () {
              nbaTable.fnAdjustColumnSizing();
            } );

          });

          });
        </script>
</body>

</html>