{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CDN -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap" rel="stylesheet">
        <!-- External Stylesheet -->
        <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
        <!-- <title>Login</title> -->
    </head>

    <!-- <body> -->
        <!-- <header id="header">
            <div class="container">
                <img class="college_logo_img" src="{% static 'assets/logo.jpg' %}" alt="College Logo">    
                <div class="logo-text">
                    <h1>SOMAIYA</h1>
                    <h2>VIDYAVIHAR</h2>
                    <div class="small-text">
                        <h4>K. J. Somaiya Institute of Engineering and Information Technology</h4>
                        An Autonomous Institute Affiliated to University of Mumbai.
                        <br/>
                        Accredited by NAAC and NBA, Approved by AICTE, New Delhi.
                    </div>
                </div>
    
                <ul>
                    <img class="trust_logo_img" src="{% static 'assets/trust.jpg' %}" alt="Trust Logo">
                </ul>
            </div>
        </header> -->

        
        <!-- {% block content %}
        {% endblock %} -->

        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script> -->
    <!-- </body> -->

</html>